body {
    background: #2C3A47; /* Cool color gradient with black */
    color: white; /* Text color for contrast */
    font-family: Arial, sans-serif;
}

.sidebar h1{
      font-size: 20px;
      text-align: center;
      color: antiquewhite;
      padding-bottom: 50px;
}

.sidebar p {
      font-size: 16px;
}
    
.sidebar h2 {
      font-size: 15px;
      text-align: center;
      padding: 10px;
      color: antiquewhite;
}
    
.sidebar h3 {
      font-size: 10px;
      text-align: center;
      color: antiquewhite;
      position: absolute;
      bottom: 80px;
}

.sidebar .highlight1 {
      font-size: 30px;
      font-weight: underline;
      color: darkorange;
    }
    
.sidebar .highlight2 {
      font-size: 15px;
      color: darkorange;
}

.sidebar {
        height: 100vh; /* Full height */
        width: 200px; /* Sidebar width */
        position: fixed; /* Fixed sidebar position */
        top: 0;
        left: -250px; /* Initially hidden off the screen */
        background-color: darkslategray; /* Sidebar background color */
        overflow-x: hidden; /* Hide horizontal scrollbar */
        padding-top: 60px; /* Space for the menu items */
        transition: 0.3s; /* Smooth transition */
        box-shadow:0 2px 4px;
}

.sidebar a {
        padding: 10px 15px;
        text-decoration: none;
        font-size: 20px;
        color: #fff;
        display: block;
        transition: 0.3s; /* Smooth transition for hover effects */
}

.sidebar a:hover {
        background-color: black; /* Darker background on hover */
}

#sidebar-toggle {
        position: fixed;
        top: 10px;
        left: 10px;
        cursor: pointer;
        font-size: 30px;
        color: black;
        background-color: orange;
        padding: 10px 20px; /* Added padding for arrow */
        border-radius: 5px;
        box-shadow: 0 4px 5px;
}

    /* Rotate arrow when sidebar is open */
.sidebar-open #sidebar-toggle::after {
        transform: rotate(90deg);
}

.header {
    background-color: #333; /* Dark background color for header */
    color: #fff; /* White text color */
    text-align: center;
    padding: 10px 0; /* Padding for top and bottom */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
}

.header h1 {
    font-size: 3em; /* Larger font size for header */
    margin: 0; /* Remove margin */
    padding: 10px;
}

.header h2 {
    font-size: 15px; /* Larger font size for header */
    margin: 0; /* Remove margin */
}

.header .highlight {
    color: #ff9800; /* Highlight color for 'in' */
    font-weight: bold; /* Make highlighted text bold */
}

.content {
    padding: 10px;
    text-align: center;
    margin-top: 10px; /* Add margin to separate from header */
}

.container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    width: 120px;
    align-content: center;
    margin: 10px;
    cursor: pointer;
    background-color: teal;
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px;
}

.loading {
    display: none;
    position: absolute;
    bottom: 10px; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center using translate */
    text-align: center;
}

.loader {
    border: 4px solid rgba(255, 255, 255, 0.3); /* Light border */
    border-radius: 50%;
    border-top: 4px solid white; /* White top border */
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Animation */
    margin-top: 20px; /* Margin to separate from text */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.result {
    display: none;
    border: 0px solid #ccc;
    padding: 10px;
    margin: 10px auto;
    max-width: 600px;
    text-align: center;
}

#backButton {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #FF5722;
    color: black;
    height: 60px;
    width: 120px;
    border: none;
    border-radius: 5px;
    position: relative;
    bottom: 10px; /* Adjust this value for vertical positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
}
